body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  color: #293c4b;
}
* {
  box-sizing: border-box;
}
.jumbotron {
  height: 1000px;
  background : linear-gradient(45deg, hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.25)),
    url("../public/forest.jpg");
  width: 100%;
  position: relative;
}
.logo {
  color: hsl(0, 0%, 98%);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 0;
}
.menu--li {
  list-style: none;
}
.menu--a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 28px 15px;
  text-decoration: none;
  letter-spacing: 2px;
}
.menu--li-active {
    color: hsl(0, 0%, 87%);
    font-weight: 400;
    text-decoration: line-through;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu {
    display: flex;
    margin: 0;
    padding: 0;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}
.caption--title {
    color: hsl(0, 0%, 100%);
    font-size: 66px;
    margin: 0;
    padding-bottom: 25px;
}
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.caption--banner {
    background-color: hsl(0, 0%, 98%);
    height: 2px;
    margin: 0 auto;
    width: 110px;
}
.caption--social{
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.fa {
  color: #ffffff;
  font-size: 25px;
}